.products {
    display: grid;
    padding: 3px;
    grid-template-columns:  1fr 1fr;
    margin-bottom: 30px;
}

.cart {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: right;
}
